/* .nav-image-container{
    display: none;
}
.nav-partial-image-container {
    display: inline-block;
} */

/* .nav-class .navbar-class {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
} */

.nav-image-container .nav-image-brand {
    color: #fff;
}

/* .nav-partial-image {
    margin-top: .4rem;
} */

